POSTGRES_USER=olist_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=olist_db
MLFLOW_TRACKING_URI=file:./mlruns
GIT_PYTHON_REFRESH=quiet
EXPECTED_LATE_RATE=0.0811
DRIFT_THRESHOLD=0.05
MIN_SAMPLES_FOR_DRIFT=100
