# Data
data/raw/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
venv/
.venv/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/

# MLflow
mlruns/

# DVC
.dvc/cache/
/artifacts
